<p id="notice"><%= notice %></p>

<h1>All Profiles</h1>

<table>
  <thead>
    <tr>
      <th>Pet Name</th>
      <th>Username</th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.pet.name %></td>
        <td><%= profile.user.username %></td>
        <td><%= link_to 'Show', user_path(profile.user.id) %></td>
        <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile', new_profile_path %> 