<h1>Pet Profile</h1>

<h4> Name: <%= @pet.name %></h4>
<h4> Breed: <%= @pet.breed.name %></h4>
<h4> Age: <%= @pet.age %></h4>
<h4> Gender: <%= @pet.gender %></h4>
<h4> Size: <%= @pet.size %></h4>
<h4> Color: <%= @pet.color %></h4>
<h4> Good with Children: <%= @pet.good_with_children %></h4>
<h4> House Trained: <%= @pet.house_trained %></h4>
<h4> Special needs: <%= @pet.special_needs %></h4>
<h4> Personality: <%= @pet.temperament %></h4>
<%= @pet.image %> 


